<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6 text-center">
            <h1>Student Index</h1>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/students_contact_info" class="btn btn-primary">Contact Information</a>
            <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
         </div>
         <div class="col-3"></div>
      </div>
      <br>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6">
            <div class="container">
               <% @students.each do |student| %>
               <%= student.first_name%>
               <% end %>
            </div>
         </div>
         <div class="col-3"></div>
      </div>
   </body>
</html>
