<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <h1>Student Index</h1>
      <a href="/logout" data-method="delete">Logout</a>
   </body>
</html>
