<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6 text-center">
            <h1>Teacher Contact Info</h1>
            <a href="/teachers" class="btn btn-primary">Teacher Dashboard</a>
            <a href="/teachers_contact_info/new" class="btn btn-primary">New Contact Info</a>
            <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
         </div>
         <div class="col-3"></div>
      </div>
      <br>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6 text-center">
            <% @teacher_contact.each do |teacher| %>
            <%= teacher.line_1_address%>
            <%= teacher.line_2_address%>
            <% end %>
         </div>
         <div class="col-3"></div>
      </div>
   </body>
</html>
