<footer class="conatiner-fluid pt-4" style="background-color:#eee;">
   <div class="container">
      <div class="row">
         <div class="col-1"></div>
         <div class="col-md-10 text-center">
            <p> &copy; Open-School 2019. All Rights Reserved.</p>
         </div>
         <div class="col-1"></div>
      </div>
   </div>
</footer>
