<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6 text-center">
            <h1>Teacher Index</h1>
            <a href="/courses" class="btn btn-primary">Courses</a>
            <a href="/teachers_contact_info" class="btn btn-primary">Contact Information</a>
            <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
         </div>
         <div class="col-3"></div>
      </div>
      <br>
      <div class="row">
         <div class="col-3"></div>
         <div class="col-6">
            <div class="container">
               <% @teachers.each do |teacher| %>
                  <h3><%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %></h3>
                  <hr>
               <% end %>
            </div>
         </div>
         <div class="col-3"></div>
      </div>
   </body>
</html>
