<div class="container py-4">
   <div class="row">
      <div class="col-md-8 mx-auto border shadow p-4 my-4 bg-white">
         <div class="row">
            <div class="col-md-12 mb-2">
               <h1>New Course:</h1>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 mb-2">
               <form action="/courses" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" name="course[name]" id="name" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="subject">Subject:</label>
                     <select class="form-control" id="subject" name="course[subject]">
                        <option></option>
                        <option>Mathematics</option>
                        <option>Science</option>
                        <option>Geography</option>
                        <option>History</option>
                        <option>Physical Education</option>
                        <option>Home Economics</option>
                        <option>Art</option>
                        <option>Music</option>
                        <option>English Language Arts</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="start_date">Start Date</label>
                     <input type="date" name="course[start_date]" id="start_date" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="end_date">End Date</label>
                     <input type="date" name="course[end_date]" id="end_date" class="form-control">
                  </div>
                  <% if current_guest %>
                     <a href="" class="btn btn-primary disabled">Create</a>
                  <% end %>
                  <% if current_administrator %>
                     <button type="submit" class="btn btn-primary">Create</button>
                  <% end %>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
