<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Student Portal</title>
   </head>
   <body>
      <div class="container">
         <div class="container-fluid" style="margin-bottom:50px;">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1>School Management Service</h1>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-4">
                  <a href="/administrators/new" class="btn btn-success btn-block btn-lg">Admin Portal</a>
               </div>
               <div class="col-md-4">
                  <a href="/teachers/new" class="btn btn-success btn-block btn-lg">Teacher Portal</a>
               </div>
               <div class="col-md-4">
                  <a href="/students/new" class="btn btn-success btn-block btn-lg">Student Portal</a>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-4">
                  <a href="/parents/new" class="btn btn-success btn-block btn-lg">Parent Portal</a>
               </div>
               <div class="col-md-4">
                  <a href="" class="btn btn-success btn-block btn-lg">Calender</a>
               </div>
               <div class="col-md-4">
                  <a href="" class="btn btn-danger btn-block btn-lg">Guest</a>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
