<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Student Portal</title>
   </head>
   <body>

      <%= render "shared/navbar_signed_out" %>

      <div class="container-fluid py-4">
         <div class="row">
            <div class="col-12 col-md-10 p-4 mx-auto shadow bd-white border">
               <div class="row">
                  <div class="col-6 col-md-3 mb-2 wow bounceInLeft">
                     <a id="indexButtons" class="btn btn-lg text-white" href="/administrators/new" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-shield fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Admin Portal</h3>
                  </div>
                  <div class="col-6 col-md-3 mb-2 wow bounceInDown">
                     <a id="indexButtons" class="btn btn-lg text-white" href="/teachers/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-chalkboard-teacher fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Teacher Portal</h3>
                  </div>
                  <div class="col-6 col-md-3 mb-2 wow bounceInDown">
                     <a id="indexButtons" class="btn btn-lg text-white" href="/students/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-check fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Student Portal</h3>
                  </div>
                  <div  class="col-6 col-md-3 mb-2 wow bounceInRight">
                     <a id="indexButtons" class="btn btn-lg text-white" href="/parents/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-friends fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Parent Portal</h3>
                  </div>
                  <div class="col-6 col-md-3 mb-2 wow bounceInLeft">
                     <a id="indexButtons" class="btn btn-lg text-white btn-warning" href="" data-toggle="modal" data-target="#myModal" style="padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-lock fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Guest Portal</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>



<!--

      <div class="container">
         <div class="row py-4 mb-3">
            <div class="col-md-12 mx-auto shadow p-4 mb-4 bg-white py-5 my-4 border text-center">
               <div class="row mb-4">
                  <div class="col-md-3">
                     <a class="btn btn-lg text-white" href="/administrators/new" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-shield fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Admin Portal</h3>
                  </div>
                  <div class="col-md-3">
                     <a class="btn btn-lg text-white" href="/teachers/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-chalkboard-teacher fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Teacher Portal</h3>
                  </div>
                  <div class="col-md-3">
                     <a class="btn btn-lg text-white" href="/students/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-check fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Student Portal</h3>
                  </div>
                  <div class="col-md-3">
                     <a class="btn btn-lg text-white" href="/parents/login" style="background-color: #005696; border-color: #005696; padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-friends fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Parent Portal</h3>
                  </div>
               </div>
               <div class="row mb-4">
                  <div class="col-md-3">
                     <a class="btn btn-lg text-white btn-warning" href="" data-toggle="modal" data-target="#myModal" style="padding:25px; border-radius: 30px;">
                        <i class="fas fa-user-lock fa-5x"></i>
                     </a>
                     <h3 class="pt-2">Guest Portal</h3>
                  </div>
                  <div class="col-md-6">
                  </div>
               </div>
            </div>
         </div>
      </div> -->

      <!-- Guest Modal -->
      <div class="modal" id="myModal">
         <div class="modal-dialog">
            <div class="modal-content p-3">

               <div class="modal-header">
                  <h4 class="modal-title">Guest Access</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>

               <div class="modal-body">
                  <form action="/sessions/login/administrator" method="post">
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                     <div class="form-group">
                        <label for="login">Username:</label>
                        <input type="text" name="login" placeholder="Administrator" value="admin" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" placeholder="********" value="12345678" class="form-control">
                     </div>
                     <button type="submit" class="btn btn-outline-primary btn-block">Sign In</button>
                  </form>
               </div>

            </div>
         </div>
      </div>
      <!-- Guest Modal End -->

   </body>
</html>
