<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Attendance Show</h1>
               <a href="/attendances/new/<%= @course.id %>">Create</a>
               <h2>Course: <%= @course.name.capitalize %></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <% @attendances.each do |attendance|%>
                  <a href="/attendances/<%= attendance.id %>/edit"><%= attendance.date.strftime("%B %d %Y") %></a>
                  <hr>
               <% end %>
            </div>
            <div class="col-md-3"></div>
         </div>
      </div>
   </body>
</html>
